<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/listado-usuarios">Usuarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sesiones</li>
    </ol>
  </nav>
</div>
<div class="container titulo">
  <span>Sesiones</span>
  <button class="btn btn-primary" routerLink="/listado-usuarios">
    Volver al listado
  </button>
</div>
<div class="container">
  <table class="table table-bordered table-stripped">
    <tr>
      <th>Nombre</th>
      <th>Login/Logout</th>
    </tr>
    <tr *ngFor="let sesion of sesiones">
      <td>{{sesion.nombre}}</td>
      <td>
        <span *ngIf="sesion.login">
          <!-- Si existe login... -->
          <i class="fas fa-sign-in-alt valido"></i>
          {{sesion.login | date: 'dd/MM/yy hh:mm'}}
        </span>
        <span *ngIf="sesion.logout">
          <!-- Si existe logout... -->
          {{sesion.logout | date: 'dd/MM/yy hh:mm'}}
          <i class="fas fa-sign-out-alt no-valido"></i>
        </span>
      </td>
    </tr>
  </table>
</div>