<div class="barra-fija">
    <div title="Clientes" 
          routerLink="/listado-clientes">
        <i class="fas fa-address-book"></i>
    </div>
    <div title="Presupuestos" 
          routerLink="/listado-presupuestos">
        <i class="fas fa-money-bill-alt"></i>
    </div>
  </div>
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
        <li class="breadcrumb-item"><a routerLink="/listado-presupuestos">Presupuestos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Añadir presupuesto</li>
      </ol>
    </nav>
  </div>
  <div class="col-md-12 titulo">
    <span>Añadir nuevo presupuesto</span>
    <button class="btn btn-primary"
            routerLink="/listado-presupuestos">
      <strong>Volver</strong>
    </button>
  </div>
  <div class="col-md-10 offset-md-1 col-12">
    <div class="formulario">
      <form [formGroup]="formPre">
        <div class="form-group">
          <label for="cliente">Cliente</label>
          <input type="text" class="form-control"
                 formControlName="cliente" list="clientes">
          <datalist id="clientes">
            <option *ngFor="let cliente of clientes"
                  [value]="cliente.nombre">
              {{cliente.nombre}}
            </option>
          </datalist>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input type="date" class="form-control"
                 formControlName="fecha">
        </div>
        <div class="form-group">
          <h5>Artículos</h5>
          <hr>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
              <label>Nº</label>
          </div>
          <div class="form-group col-md-4">
              <label>Artículo</label>
          </div>
          <div class="form-group col-md-2">
              <label>Cantidad</label>
          </div>
          <div class="form-group col-md-2">
              <label>Precio</label>
          </div>
          <div class="form-group col-md-2">
              <label>Importe</label>
          </div>
        </div>
        <div formArrayName="items">
          <div *ngFor="let item of formPre.controls.items.controls; let i=index">
            <div [formGroupName]="i" class="form-row">
              <div class="form-group col-md-1">
                <input type="text" class="form-control"
                       value="{{i+1}}" disabled>
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control"
                       formControlName="articulo" list="articulos">
                <datalist id="articulos">
                  <option *ngFor="let articulo of articulos"
                        [value]="articulo.referencia">
                    {{articulo.referencia}}
                  </option>
                </datalist>
              </div>
              <div class="form-group col-md-2">
                <input type="number" class="form-control"
                        formControlName="cantidad">
              </div>
              <div class="form-group col-md-2">
                <input type="number" class="form-control"
                        formControlName="precio"
                        [(ngModel)]="formPre.value.items[i].precio"
                        readonly>
              </div>
              <div class="form-group col-md-2">
                <input type="number" class="form-control"
                        formControlName="importe"
                        [(ngModel)]="formPre.value.items[i].importe"
                        readonly>
              </div>
              <div class="form-group col-md-1">
                <button class="btn btn-danger"
                        (click)="removeItem(i)">
                    <i class="fas fa-minus-circle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-1">
            <button class="btn btn-primary"
                    (click)="addItem()">
                    <i class="fas fa-plus-circle"></i>
            </button>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-2" 
               style="text-align:right; margin-top: 5px;">
              <label for="suma">Suma</label>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control"
                    formControlName="suma"
                    [(ngModel)]="formPre.value.suma"
                    readonly>
          </div>
        </div>
      </form>
      <pre>{{formPre.value | json}}</pre>
    </div>
  </div>