<div class="barra-fija">
  <div title="Clientes" 
        routerLink="/listado-clientes">
      <i class="fas fa-address-book"></i>
  </div>
  <div title="Presupuestos" 
        routerLink="/listado-presupuestos">
      <i class="fas fa-money-bill-alt"></i>
  </div>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
      <li class="breadcrumb-item"><a routerLink="/listado-presupuestos">Presupuestos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar presupuesto</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Editar presupuesto</span>
  <button class="btn btn-primary"
          routerLink="/listado-presupuestos">
    <strong>Volver</strong>
  </button>
</div>
<div class="col-md-10 offset-md-1 col-12">
  <div class="formulario">
    <form [formGroup]="formPre" (ngSubmit)="editarPre()">
      <div class="row">
        <div class="col-md-6">
          <label for="cliente">Cliente</label>
          <span *ngIf="formPre.controls.cliente.valid &&
                      formPre.controls.cliente.dirty">
              <i class="fas fa-check-circle icono-verde"></i>
          </span>
          <span class="carmesi" *ngIf="formPre.controls.cliente.invalid &&
                        formPre.controls.cliente.touched">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <input type="text" class="form-control"
                formControlName="cliente" autofocus
                [(ngModel)]="presupuesto.cliente">
        </div>
        <div class="col-md-6">
          <label for="cif">CIF</label>
          <span *ngIf="formPre.controls.cif.valid &&
                      formPre.controls.cif.dirty">
              <i class="fas fa-check-circle icono-verde"></i>
          </span>
          <span class="carmesi" *ngIf="formPre.controls.cif.invalid &&
                        formPre.controls.cif.touched &&
                        !formPre.value.cif">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <span class="carmesi" *ngIf="formPre.controls.cif.invalid &&
                      formPre.controls.cif.dirty &&
                      formPre.value.cif">
            <i class="fas fa-times-circle"></i>
            El campo debe tener 9 caracteres
          </span>
          <input type="text" class="form-control"
                formControlName="cif"
                [(ngModel)]="presupuesto.cif" maxlength="9">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label for="fecha">Fecha Presupuesto</label>
            <input type="date" class="form-control"
                    formControlName="fecha"
                    [(ngModel)]="presupuesto.fecha">
        </div>
        <div class="col-md-8">
            <label for="concepto">Concepto</label>
            <input type="text" class="form-control"
                    formControlName="concepto"
                    [(ngModel)]="presupuesto.concepto">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label for="base">Base Imponible</label>
            <span *ngIf="formPre.controls.base.valid &&
                        formPre.controls.base.dirty">
                <i class="fas fa-check-circle icono-verde"></i>
            </span>
            <span class="carmesi" *ngIf="formPre.controls.base.invalid &&
                          formPre.controls.base.touched && !base">
              <i class="fas fa-times-circle"></i>
              El campo es obligatorio
            </span>
            <span class="carmesi" *ngIf="formPre.controls.base.invalid &&
                        formPre.controls.base.dirty && base">
              <i class="fas fa-times-circle"></i>
                  No puede superar 100.000,00 €
            </span>
            <input type="number" class="form-control"
                    formControlName="base"
                    [(ngModel)]="presupuesto.base">
        </div>
        <div class="col-md-4 radiobotones">
            <div class="form-check">
              <input class="form-check-input" type="radio" 
                      [value]=true
                      formControlName="retencion"
                      [(ngModel)]="presupuesto.retencion">
              <label class="form-check-label">
                Con retención IRPF
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio"  
                        [value]=false
                        formControlName="retencion"
                        [(ngModel)]="presupuesto.retencion">
                <label class="form-check-label">
                  Sin retención IRPF
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label for="tipo">% IVA</label>
            <select class="form-control"
                    formControlName="tipo"
                    [(ngModel)]="presupuesto.tipo">
              <option [ngValue]=0>0 %</option>
              <option [ngValue]=0.04>4 %</option>
              <option [ngValue]=0.1>10 %</option>
              <option [ngValue]=0.21>21 %</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngIf="!retencion"></div>
        <div class="col-md-4" *ngIf="retencion">
          <label for="irpf">Retención IRPF</label>
          <input type="text" class="form-control"
                formControlName="irpf"
                [(ngModel)]="formPre.value.irpf"
                readonly>
        </div>
        <div class="col-md-4">
          <label for="importe">Importe IVA</label>
          <input type="text" class="form-control"
                formControlName="importe"
                [(ngModel)]="formPre.value.importe"
                readonly>
        </div>
        <div class="col-md-4">
            <label for="total">Total presupuesto IVA incluido</label>
            <input type="text" class="form-control"
                    formControlName="total"
                    [(ngModel)]="formPre.value.total"
                    readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <button type="submit" 
                    class="btn btn-primary"
                    [disabled]="formPre.invalid">
                Guardar cambios
            </button>
            <button class="btn btn-danger"
                    routerLink="/listado-presupuestos">
              Cancelar
            </button>
        </div>
      </div>
    </form>
  </div>
</div>


