<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes">
    <!-- Lo metemos para que vaya a clientes -->
    <i class="fas fa-address-book"></i>
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuestos">
    <!-- Lo metemos para que vaya a presupuestos -->
    <i class="fas fa-money-bill-alt"></i>
  </div>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/compras">Ventas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Clientes</span>
  <button class="btn btn-primary" routerLink="/crear-cliente">
    <i class="fas fa-plus-circle"></i>
  </button>
</div>
<div class="col-md-12">
  <input type="search" class="form-control"
         placeholder="Complete el nombre"
         [formControl]="buscador">
</div>
<div class="col-md-12">
  <p *ngFor="let cliente of clientes">{{cliente.nombre}}</p>
  <p *ngIf="mensaje">No se encontraron coincidencias.</p>
</div>
