<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes">
    <!-- Lo metemos para que vaya a clientes -->
    <i class="fas fa-address-book"></i>
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuestos">
    <!-- Lo metemos para que vaya a presupuestos -->
    <i class="fas fa-money-bill-alt"></i>
  </div>
</div>
<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ventas</li>
    </ol>
  </nav>
</div>
<div class="col-md-12">
  <span>Dashboard</span>
</div>